body {
	margin: 0;
}

h1{
	margin: 0;
	color: rgb(255, 255, 255);
	font-size: 30px;
}

.top-box {
	background-image: url('https://c0.wallpaperflare.com/preview/145/5/287/sky-cloud-sunset-sunrise.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.black-box {
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-box {
	background-image: url('https://cdn.wallpapersafari.com/37/55/rJNpEi.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}